#cloud-config
hostname: ${hostname}
package_update: true

users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key} 

ssh_pwauth: false

runcmd:
  - apt-get update
  - apt-get install -y python3 python3-pip
