global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: 'go-app'
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host in groups['app_servers'] %}
          - '{{ hostvars[host].ansible_host | default(host) }}:8080'
{% endfor %}










